{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "proseWrap": "preserve",
  "tabWidth": 4,
  "printWidth": 80
}
