# This workflow will do a build and test run for the .NET projects in tools/rsdl/rapid-cli
name: .NET Core CI build - RAPID CLI tool

on:
  push:
    branches: [master]
    paths:
       - "tools/rsdl/rapid-cli/**"
  pull_request:
    branches: [master]
    paths:
       - "tools/rsdl/rapid-cli/**"

env:
  BuildConfig: Release
  Solution: ./tools/rsdl/rapid-cli/rapid-cli.sln

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1

        # with:
        #   dotnet-version: 3.1.402
      - name: Restore
        run: dotnet restore ./tools/rsdl/rapid-cli/rapid/rapid.csproj

      - name: Build
        run: dotnet build ./tools/rsdl/rapid-cli/rapid/rapid.csproj --configuration ${{ env.BuildConfig }} --no-restore

      - name: Test
        run: dotnet test ${{ env.Solution }}

      - name: Pack
        run: dotnet pack ./tools/rsdl/rapid-cli/rapid/rapid.csproj --version-suffix "prerelease"

      - name: Publish artifact
        uses: actions/upload-artifact@v2
        with:
          path: ./tools/rsdl/rapid-cli/rapid/nupkg
          if-no-files-found: error
