name: rapid cli .NET Core CI build

on:
  push:
    branches: [master, parser-tests]
  pull_request:
    branches: [master]
env:
  BuildConfig: Release
  Solution: ./tools/rsdl/dotnet/rapid.sln

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1

        # with:
        #   dotnet-version: 3.1.402
      - name: Restore
        run: dotnet restore ./tools/rsdl/dotnet/rapid/rapid.csproj

      - name: Build
        run: dotnet build ./tools/rsdl/dotnet/rapid/rapid.csproj --configuration ${{ env.BuildConfig }} --no-restore

      - name: Test
        run: dotnet test ${{ env.Solution }}

      - name: Pack
        run: dotnet pack ./tools/rsdl/dotnet/rapid/rapid.csproj --version-suffix "prerelease"

      - name: Publish artifact
        uses: actions/upload-artifact@v2
        with:
          path: ./tools/rsdl/dotnet/rapid/nupkg
          if-no-files-found: error
