# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: WebsiteCI

on:
  push:
    branches: [main]
    paths:
      - "website/**"
      - "docs/**"
      - "tools/**"
  pull_request:
    branches: [main]
    paths:
      - "website/**"
      - "docs/**"
      - "tools/**"
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: cd tools && npm install && npm run build && npm run test && cd ../website && yarn && yarn lintDocs && yarn build
